@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Light */
  font-weight: 300;
  src: url('./assets/font/Teko-Light.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Regular */
  font-weight: 400;
  src: url('./assets/font/Teko-Regular.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Medium */
  font-weight: 500;
  src: url('./assets/font/Teko-Medium.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* SemiBold */
  font-weight: 600;
  src: url('./assets/font/Teko-SemiBold.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal; /* Bold */
  font-weight: 700;
  src: url('./assets/font/Teko-Bold.ttf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Ultra-Light */
  font-weight: 100;
  src: url('./assets/font/sf-ui-display-ultralight.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Thin */
  font-weight: 200;
  src: url('./assets/font/sf-ui-display-thin.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Light */
  font-weight: 300;
  src: url('./assets/font/sf-ui-display-light.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Medium */
  font-weight: 500;
  src: url('./assets/font/sf-ui-display-medium.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* SemiBold */
  font-weight: 600;
  src: url('./assets/font/sf-ui-display-semibold.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Bold */
  font-weight: 700;
  src: url('./assets/font/sf-ui-display-bold.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Heavy */
  font-weight: 800;
  src: url('./assets/font/sf-ui-display-heavy.otf');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal; /* Black */
  font-weight: 900;
  src: url('./assets/font/sf-ui-display-black.otf');
}

:root {
  font-family: Teko, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f8f8f8;
  background-color: #0e0d0d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  --base-text: #f8f8f8;
  --primary: #0e0d0d;
  --gold: #efb325;
  --dark-box: #252424;
  --light-text: #f5f5f5;
  --dark-text: #151515;
  --hint-text: #646464;
}

li::marker {
  display: none;
}

.text-anim {
  animation: text-flow 20s linear infinite;
}

@keyframes text-flow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.explore-tag-item {
  background: var(--gold);
  text-align: center;
  color: var(--dark-text);
  font-family: 'SF UI Display';
  font-weight: bold;
  padding: 18px 0;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  width: 128px;
  @media only screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 18px;
    width: 176px;
  }
}

.section-title {
  font-weight: 500;
  color: var(--base-text);
  font-size: 48px;
  line-height: 44px;
  @media only screen and (min-width: 1200px) {
    font-size: 90px;
    line-height: 80px;
    text-align: center;
  }
}

.start-tap-img {
  border-radius: 5px 5px 0 0;
}

.road-bg {
  background-size: contain;
  background-image: url('assets/img/road.png');
  background-repeat: repeat-y;
}

#explore {
  background-image: url('./assets/img/sun.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media only screen and (max-width: 600px) {
    background-size: cover;
  }
}
